<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>Necesitamos acceso a tus datos de salud para registrar tu actividad durante el partido</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Necesitamos permiso para guardar los datos de tu actividad durante el partido</string>
	<key>UIBackgroundModes</key>
	<array/>
	<key>WKBackgroundModes</key>
	<array>
		<string>workout-processing</string>
	</array>
</dict>
</plist>
